body{
    font-family: 'Asap', sans-serif;
}

main{
    
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}
.pokedex{
    background-color: rgb(43, 55, 226);
    display: flex;
    gap: 30px;
    padding: 30px 0;
}